/* base css */
html {
	font-size: 100%;
}

body {
	font-size: 14px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

section {
	padding: 6px 0
}

.form-control {	
	height: 38px;
}

.form-control {
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3', GradientType=0 );
}

.btn-gray,
.btn-success {
	color: #000 !important;
	border: none;
}

.btn-success {
	background: rgba(166,255,32,1);
	background: -moz-linear-gradient(top, rgba(166,255,32,1) 0%, rgba(134,223,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(166,255,32,1)), color-stop(100%, rgba(134,223,0,1)));
	background: -webkit-linear-gradient(top, rgba(166,255,32,1) 0%, rgba(134,223,0,1) 100%);
	background: -o-linear-gradient(top, rgba(166,255,32,1) 0%, rgba(134,223,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(166,255,32,1) 0%, rgba(134,223,0,1) 100%);
	background: linear-gradient(to bottom, rgba(166,255,32,1) 0%, rgba(134,223,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ff20', endColorstr='#86df00', GradientType=0 );
	border: none;
}

.btn-search {
	padding-top: 8px;
	padding-bottom: 8px;
}

.btn-xlg {
	padding: 15px 35px;
	font-size: 21px;
	border-radius: 6px;
}

.btn-gray {
	background: rgba(244,244,244,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(214,214,214,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: radial-gradient(ellipse at center, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d6d6d6', GradientType=1 );
	border-color: #d6d6d6;
}

.btn-warning {
	background: rgba(255,155,32,1);
	background: -moz-linear-gradient(top, rgba(255,155,32,1) 0%, rgba(223,123,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,155,32,1)), color-stop(100%, rgba(223,123,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,155,32,1) 0%, rgba(223,123,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,155,32,1) 0%, rgba(223,123,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,155,32,1) 0%, rgba(223,123,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,155,32,1) 0%, rgba(223,123,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b20', endColorstr='#df7b00', GradientType=0 );
}

.col-center {
	margin: auto;
	float: none;
}

.navbar-brand {
    height: auto;
    max-width: 200px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #ff9008;
}

.navbar-default .navbar-nav>li>a,
.text-warning {
	color: #ff9008;	
}

.page-header {
	margin-top: 91px;
	border-bottom: 0;
}

.navbar-nav>li>a {
	padding-top: 7px;
	padding-bottom: 7px;
}

.media-object {
	background: rgba(244,244,244,1);
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(214,214,214,1)));
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(214,214,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d6d6d6', GradientType=0 );
	border-radius: 50%;
	text-align: center;
	padding: 23px 10px;
	font-size: 16px;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		text-transform: uppercase;
		font-size: 16px;
	}

	.navbar-nav>li:last-child>a {
		margin-left: 5px;
	}

	ul.nav.navbar-nav.navbar-right {
		margin: 27px 0;
	}
}


.jumbotron {
	background: url('../../img/banner2.png') no-repeat center center;
	color: #fff;
	text-align: center;
	padding: 135px 0;
	background-size: cover;
}

.jumbotron h1 {
	font-weight: 400;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.jumbotron h1 {
		font-size: 75px;
	}
	
}

.featured-ads > h2 {
	color: #ff9008;
	text-shadow: 1px 1px 1px #000;
	font-size: 60px;
	margin-bottom: 60px;
	font-weight: 600;
}

.featured-ads .caption {
	margin-bottom: 65px;
}

.featured-ads .caption h3 {
	font-size: 16px;
}