label[class*="error"] {
    color: red;
}

.help-block .text-info + label[class="error"] {
	display: none !important;
}

.left-row-none {
	padding-left: 0;
}

.right-row-none {
	padding-right: 0;
}

.charges-form .left-row-none {
	text-align: left !important;
}

.row-none {
	padding: 0;
}

.col-center {
	margin: auto;
	float: none;
}

.website-icon:before {
	background: url("../img/favicons/favicon-16x16.png") no-repeat center center;
	display: inline-block;
	content: '';
	padding: 7px 9px;
}

.match-label {
	padding-top: 7px;
}

.match-label-radio > .radio {
	padding-top: 0px;
}

input[class*="custom-style"]{
    line-height: normal;
    margin: 6px 6px 0 -2px;
    vertical-align: sub;
}

.custom-form-setting .form-group label.control-label {
	text-align: left;
}

div[class*="datetimepicker"] .picker-switch > table > tbody > tr > td {
	width: 300px;
	text-align: center;
}

#deposit-price-input { 
	padding: 20px 0 10px;
	border-top: 1px solid #d1e4e4 ;
	border-bottom: 1px solid #d1e4e4 ;
}

.gated-space-table > tbody > tr > td:first-child  img {
	width: 100px;
}

.gated-space-table > tbody > tr > td {
	vertical-align: middle;
}

#searchGatedSpace .modal-dialog {
	width: 800px;
}

#searchGatedSpace .scroll {
	height: 400px;
	overflow: auto;
}
/*---------------------------
------- Dashboard page ------
-----------------------------*/
.summary-box .detail-box {
	width: 169px;
	padding-right: 10px;
	float: left;
	margin-bottom: 10px;
}

.summary-box .col-xs-3 {
	width: 20%;
	margin-bottom: 10px;
}

.summary-box .detail-box:last-child {
	padding-right: 0;
}

.summary-box .col-xs-3 div[class$="-bg"] {
    height: 150px;
    border-left: none;
    color: #fff;
    padding-top: 28px;
    position: relative;
}

.summary-box div[class$="-bg"] > span {
    font-size: 32px;
    font-weight: 700;
}

.summary-box div[class$="-bg"] > span + div {
    font-size: 13px;
}

.summary-box .percentage {
    font-size: 24px;
}


.summary-box div[class$="-bg"] > i[class*="icon-"],
.indian-rupee {
    font-size: 35px;
    margin-right: 15px;
}

.summary-box div[class$="-bg"] + .view-all {
    text-align: left;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px;
}

.remove-underline:hover {
	text-decoration: none;
}

.billing-detail {
	margin-top: 20px;
	margin-bottom: 20px;
}

.zero-margin {
	margin: 0;
}

.new-addministartor-table {
	margin-bottom: 20px;
}

.summary-tb > tbody > tr {
	background-color: #fff;
}

.summary-tb > thead > tr,
.summary-tb > tbody > tr:last-child {
	background-color: #eee;
}

.red-bg {
    background-color: #18B7A0;
}

.green-bg {
    background-color: #27C4D2;
}

.purple-bg {
    background-color: #9A59E1;
}

.yellow-bg {
    background-color: #E3AB57;
}

.pink-bg {
   background-color: #d227bc;
}
.blue-bg {
   background-color: #e1f0f0;
} 