label.error{
	color: red;
  	font-weight: normal
}
.tableinherit{
	color: inherit;
}
.passwordStrength{
	margin-top: 10px;
}
label[class^="control-label"] > span {
	color: #B94A48;
	padding-left: 5px;
}
.space-row-color-approve {
	background-color: rgb(221, 242, 229);
}
.space-row-color-not-approve {
	background-color: rgb(255, 207, 208);
}

.abbrevation {        
    margin-bottom: 0;
    margin-top: 6px;
}
.color-box {
    padding: 0 8px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #ddd;	
}
.abbrevation ul > li +li {
    padding-left: 10px;
    padding-right: 10px;
}