@media (min-width: 992px) {
  #content {
    float: left;
  }
  #left
   {
    width: 20%;
  }
  #content {
    width: 60%;
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  #left  {
    width: 15%;
  }
  #content {
    width: 70%;
  }
.side-right #content {
    width: 85%;
  }
}
@media (min-width: 992px) {
  #left {
    width: calc(220px);
  }
   #content {
    width: calc(100% - 220px);
  }
  .side-right #content {
    width: calc(100% - 220px);
  }
  .mini-sidebar #content {
    width: calc(100% - 100px);
  }
}
