<h1 style="color: red"> Under construction we are working on it</h1>  

<!-- <div class="crumbs">

    <ul id="breadcrumbs" class="breadcrumb">
        <li class="active">
            <i class="icon-user"></i>
            <?php 
                $total = count($treePath);
                echo '<li>';
                echo $this->Html->link('All', array('action'=>'index'));
                echo '</li>';
                foreach ($treePath as $key => $treeCategory) {
                    if (!$treeCategory['Category']['is_activated']) {
                        continue;
                    }
                    echo '<li>';
                    if ($total === $key + 1) {
                        echo h($treeCategory['Category']['title']);
                    } else {
                        echo $this->Html->link($treeCategory['Category']['title'], array('action'=>'index', 'admin'=> 'true', base64_encode(convert_uuencode($treeCategory['Category']['id']))));
                    }
                    echo '</li>';
                }
            ?>
            
        </li>
        <?php if ($this->Session->read('Auth.User.user_type_id') == configure::read('UserTypes.Admin')) { ?>
            <div class="pull-right">
                <?php
                    echo $this->Html->link('<i class="icon-plus icon-spacing"></i>'.'Category',
                            'javascript:void(0);',
                            array(
                                'class' => 'btn btn-primary btn-grad btn-bottom',
                                'data-toggle' => 'modal',
                                'data-target' => '#addCategoryModal',
                                'escape' => false
                            ));
                ?>
            </div>
        <?php } ?>
    </ul>
</div>
<div class="panel1">
    <span class="clearfix"></span>
    <div class="panel panel-default" id="inline-popups">
        <div class="panel-heading clearfix">
            <div class="right-inner-addon pull-right row">
                <?php
                    echo $this->Form->create('Category', array(
                                    'url' => array('controller' => 'Categories', 'action' => 'index', 'admin' => true),
                                    'type' => 'get',
                                    'novalidate' => true
                                    ));
                ?>
                        <div class="input-group col-xs-3 pull-right">
                        <?php
                                echo $this->Form->input(
                                    'parent_id',
                                    array(
                                        'type' => 'hidden',
                                        'div' => false,
                                        'label' => false,
                                        'class' => 'form-control',
                                        'escape' => false,
                                        'value' => $parentId,
                                        'default' => (isset($this->request->query['parent_id']) && !empty($this->request->query['parent_id'])) ? $this->request->query['parent_id'] : null
                                        )
                                );
                            ?>
                            <?php
                                echo $this->Form->input(
                                    'search',
                                    array(
                                        'div' => false,
                                        'label' => false,
                                        'class' => 'form-control',
                                        'placeholder' => 'search',
                                        'escape' => false,
                                        'default' => (isset($this->request->query['search']) && !empty($this->request->query['search'])) ? $this->request->query['search'] : ''
                                        )
                                );
                            ?>
                            <span class="input-group-btn">
                                <?php
                                    echo $this->Form->button(
                                        '<i class="icon-search"></i>',
                                        array(
                                            'type' => 'submit',
                                            'class'=> 'btn btn-default',
                                            'escape' => false
                                            )
                                    );
                                ?>
                            </span>
                        </div>
                <?php echo $this->Form->end(); ?>
            </div>
        </div>
        <div class="table-responsive" id="innercontent">
            <?php echo $this->element('backend/Category/listing'); ?>
        </div>
    </div>
    
</div>
<?php
    echo $this->Html->script(array(
        'backend/Category/add_category',
        ),
        array('block' => 'scriptBottom')
    );
?>
<?php
	echo $this->element('backend/Category/add_category');
    echo $this->element('backend/Category/edit_category');
?> -->